* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.top {
  width: 100%;
  height: 40vh;
  background-image: url(./images/bg-desktop-dark.jpg);
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 500px;
  display: flex;
  gap: 400px;
  align-items: center;
}

.buttom {
  width: 100%;
  height: 60vh;
  background-color: black;
}
.todo-container {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 25%;
  left: 30%;
}
#sun{
    display: block;
}
#moon{
    display: none;
}
.todo-input {
  background-color: hsl(235, 24%, 19%);
  border: none;
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
  outline: none;
  color: white;
}
.delete-item{
    color: white;
}
.todo-list {
  height: auto;
  width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(235, 24%, 19%);
  border: 1px solid hsl(235, 24%, 19%);
  border-radius: 5px;
  padding: 20px;
  outline: none;
  position: relative;
}
ul {
  list-style: none;
 
}
li {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid hsl(0, 0%, 98%);
}

.status {
  height: auto;
  width: 100%;
  display: flex;
  padding: 16px;
  gap: 40px;
  /* position: absolute;
  bottom: 0; */
  padding: 20px;
}
.mid {
  display: flex;
  gap: 10px;
}
input[type="text"] {
  width: 90%;
  background-color: hsl(235, 24%, 19%);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  color: white;
}
.add,
#todo-checkbox {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  cursor: pointer;
  margin-right: 20px;
}
#add:checked {
  background-color: #ddd;
}

#todo-checkbox:checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
input[typr="checkbox"] {
  margin-right: 20px;
}
.notice{
    position: absolute;
    bottom: 0;
    color: white;
    margin: 10px 500px;
}